<ion-view view-title="e-papers">
    <ion-nav-bar class="bar-positive copperfont">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button icon ion-navicon noborder"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button icon ion-home noborder" ng-click="gohome()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="row row-wrap">


            <div class="col col-33 cropcenterdiv epaperlist">
                <a href="http://www.gulf-times.com/PDFLinks//PDFs/2015/9/8/Classified_2015_09_08_000000.pdf">
                    <div class="cropcenterdiv"><img src="http://1.bp.blogspot.com/-_Aao2KzYmd8/T_Vo7B8bndI/AAAAAAAABGs/Rx6NGcFZALI/s1600/Dainik_Jagran_cover_03-28-10.jpg" class="cropcenterimgtall">
                    </div>
                    <div class="epapertitle bluecolor">
                        <p>20 Sept, 2015</p>
                        <p>Volume 3</p>
                    </div>
                </a>
            </div>


            <div class="col col-33 cropcenterdiv epaperlist">
                <a href="http://www.gulf-times.com/PDFLinks//PDFs/2015/9/8/Classified_2015_09_08_000000.pdf">
                    <div class="cropcenterdiv"><img src="http://1.bp.blogspot.com/-_Aao2KzYmd8/T_Vo7B8bndI/AAAAAAAABGs/Rx6NGcFZALI/s1600/Dainik_Jagran_cover_03-28-10.jpg" class="cropcenterimgtall"></div>
                    <div class="epapertitle bluecolor">
                        <p>20 Sept, 2015</p>
                        <p>Volume 3</p>
                    </div>
                </a>
            </div>

            <div class="col col-33 cropcenterdiv epaperlist">
                <a href="http://www.gulf-times.com/PDFLinks//PDFs/2015/9/8/Classified_2015_09_08_000000.pdf">
                    <div class="cropcenterdiv"><img src="http://1.bp.blogspot.com/-_Aao2KzYmd8/T_Vo7B8bndI/AAAAAAAABGs/Rx6NGcFZALI/s1600/Dainik_Jagran_cover_03-28-10.jpg" class="cropcenterimgtall"></div>
                    <div class="epapertitle bluecolor">
                        <p>20 Sept, 2015</p>
                        <p>Volume 3</p>
                    </div>
                </a>
            </div>

            <div class="col col-33 cropcenterdiv epaperlist">
                <a href="http://www.gulf-times.com/PDFLinks//PDFs/2015/9/8/Classified_2015_09_08_000000.pdf">
                    <div class="cropcenterdiv"><img src="http://1.bp.blogspot.com/-_Aao2KzYmd8/T_Vo7B8bndI/AAAAAAAABGs/Rx6NGcFZALI/s1600/Dainik_Jagran_cover_03-28-10.jpg" class="cropcenterimgtall"></div>
                    <div class="epapertitle bluecolor">
                        <p>20 Sept, 2015</p>
                        <p>Volume 3</p>
                    </div>
                </a>
            </div>

            <div class="col col-33 cropcenterdiv epaperlist">
                <a href="http://www.gulf-times.com/PDFLinks//PDFs/2015/9/8/Classified_2015_09_08_000000.pdf">
                    <div class="cropcenterdiv"><img src="http://1.bp.blogspot.com/-_Aao2KzYmd8/T_Vo7B8bndI/AAAAAAAABGs/Rx6NGcFZALI/s1600/Dainik_Jagran_cover_03-28-10.jpg" class="cropcenterimgtall"></div>
                    <div class="epapertitle bluecolor">
                        <p>20 Sept, 2015</p>
                        <p>Volume 3</p>
                    </div>
                </a>
            </div>

            <div class="col col-33 cropcenterdiv epaperlist">
                <a href="http://www.gulf-times.com/PDFLinks//PDFs/2015/9/8/Classified_2015_09_08_000000.pdf">
                    <div class="cropcenterdiv"><img src="http://1.bp.blogspot.com/-_Aao2KzYmd8/T_Vo7B8bndI/AAAAAAAABGs/Rx6NGcFZALI/s1600/Dainik_Jagran_cover_03-28-10.jpg" class="cropcenterimgtall"></div>
                    <div class="epapertitle bluecolor">
                        <p>20 Sept, 2015</p>
                        <p>Volume 3</p>
                    </div>
                </a>
            </div>

            <div class="col col-33 cropcenterdiv epaperlist">
                <a href="http://www.gulf-times.com/PDFLinks//PDFs/2015/9/8/Classified_2015_09_08_000000.pdf">
                    <div class="cropcenterdiv"><img src="http://1.bp.blogspot.com/-_Aao2KzYmd8/T_Vo7B8bndI/AAAAAAAABGs/Rx6NGcFZALI/s1600/Dainik_Jagran_cover_03-28-10.jpg" class="cropcenterimgtall"></div>
                    <div class="epapertitle bluecolor">
                        <p>20 Sept, 2015</p>
                        <p>Volume 3</p>
                    </div>
                </a>
            </div>
        </div>


        <div id="id1">abhay
            <div id="rightDiv">abhay
            </div>
        </div>
    </ion-content>
</ion-view>