<ion-view view-title="full paper">
    <ion-nav-bar class="bar-positive copperfont textcenter">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button icon ion-navicon noborder"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button icon ion-home noborder" ng-click="gohome()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <!--<iframe src="http://www.gulf-times.com/PDFLinks//PDFs/2015/9/8/Classified_2015_09_08_000000.pdf" style="height: 92vh;
    width: 100%;"></iframe>-->

    </ion-content>
</ion-view>